In [9]:
# read our data in
data = read.csv('customertxndata.csv')

# take a look using head()
head(data)

# look at the structure of data
str(data)

  Visits Transactions OS      Gender Revenue
1  7     0            Android Male      0.0000
2 20     1            iOS     NA      576.8668
3 22     1            iOS     Female  850.0000
4 24     2            iOS     Female 1050.0000
5  1     0            Android Male      0.0000
6 13     1            Android Male    460.0000

'data.frame':	22800 obs. of  5 variables:
 $ Visits      : int  7 20 22 24 1 13 23 14 11 24 ...
 $ Transactions: int  0 1 1 2 0 1 2 1 1 2 ...
 $ OS          : Factor w/ 2 levels "Android","iOS": 1 2 2 2 1 1 2 1 1 2 ...
 $ Gender      : Factor w/ 2 levels "Female","Male": 2 NA 1 1 2 2 2 2 2 2 ...
 $ Revenue     : num  0 577 850 1050 0 ...

In [61]:
# total number of entries is the number of rows
total_entries <- nrow(data)
total_entries

complete_data <- na.omit(data)
head(complete_data)
nrow(complete_data)

mean_visits <- mean(data$Visits)
mean_visits

[1] 22800

  Visits Transactions OS      Gender Revenue
1  7     0            Android Male      0
3 22     1            iOS     Female  850
4 24     2            iOS     Female 1050
5  1     0            Android Male      0
6 13     1            Android Male    460
7 23     2            iOS     Male   1850

[1] 15600

[1] 12.48649