DONE-(5 pts) Locate the data set and load the data into R. 

DONE-(10 pts) Calculate the following summative statistics: total number of cases, mean number of visits, median revenue, maximum and minimum number of transactions, most commonly used operating system. Exclude any cases where there is a missing value.

(15 pts) Create a scatterplot of number of visits (x-axis) versus revenue (y-axis). Comment on the correlation between the two variables.

(10 pts) Which columns have missing data? How did you recognize them? How would you impute missing values?

(15 pts) Impute missing transaction and gender values.

(20 pts) Split the data set into two equally sized data sets where one can be used for training a model and the other for validation. Take every odd numbered case and add them to the training data set and every even numbered case and add them to the validation data set, i.e., row 1, 3, 5, 7, etc. are training data while rows 2, 4, 6, etc. are validation data.

(10 pts) Calculate the mean revenue for each data set and compare them. Comment on the difference.

(15 pts) For many data mining and machine learning tasks, there are packages in R. Find at least one package that has functions for creating training and validation data subsets and show how to use them.

# Load data into R

In [6]:
# read our data in
data = read.csv('customertxndata.csv')

# take a look using head()
head(data)

# look at the structure of data
str(data)

  Visits Transactions OS      Gender Revenue
1  7     0            Android Male      0.0000
2 20     1            iOS     NA      576.8668
3 22     1            iOS     Female  850.0000
4 24     2            iOS     Female 1050.0000
5  1     0            Android Male      0.0000
6 13     1            Android Male    460.0000

'data.frame':	22800 obs. of  5 variables:
 $ Visits      : int  7 20 22 24 1 13 23 14 11 24 ...
 $ Transactions: int  0 1 1 2 0 1 2 1 1 2 ...
 $ OS          : Factor w/ 2 levels "Android","iOS": 1 2 2 2 1 1 2 1 1 2 ...
 $ Gender      : Factor w/ 2 levels "Female","Male": 2 NA 1 1 2 2 2 2 2 2 ...
 $ Revenue     : num  0 577 850 1050 0 ...

# Summative Statistics

In [67]:
# total number of entries is the number of rows
total_entries <- nrow(data)
total_entries

print("Entries with all data")
# na.omit removes all rows containing NA
complete_data <- na.omit(data)
nrow(complete_data)

print("Mean visits:")
# mean() is a built in function
mean_visits <- mean(complete_data$Visits)
mean_visits

print("Median revenue:")
# median() is a built in fuction
median_revenue <- median(complete_data$Revenue)
median_revenue


print("Most Common OS:")
# which will create subsets based specified criteria
android_users <- which(complete_data$OS == "Android")
iOS_users <- which(complete_data$OS == "iOS")
print("Android more common than IOs")
length(android_users) > length(iOS_users)

print("Max transactions")
max(complete_data$Transactions)
print("Min transactions")
min(complete_data$Transactions)

[1] 22800

[1] "Entries with all data"

[1] 15600

[1] "Mean visits:"

[1] 12.59263

[1] "Median revenue:"

[1] 360

[1] "Most Common OS:"
[1] "Android more common than IOs"

[1] TRUE

[1] "Max transactions"

[1] 2

[1] "Min transactions"

[1] 0

  Visits Transactions OS      Gender Revenue
1  7     0            Android Male      0
3 22     1            iOS     Female  850
4 24     2            iOS     Female 1050
5  1     0            Android Male      0
6 13     1            Android Male    460
7 23     2            iOS     Male   1850

# Which columns have missing data?

In [75]:
# entries_with_missing_data <- data[is.na(data)]
# str(entries_with_missing_data)

incomplete_data <- is.na(data)
head(incomplete_data)

     Visits Transactions OS    Gender Revenue
[1,] FALSE  FALSE        FALSE FALSE  FALSE
[2,] FALSE  FALSE        FALSE  TRUE  FALSE
[3,] FALSE  FALSE        FALSE FALSE  FALSE
[4,] FALSE  FALSE        FALSE FALSE  FALSE
[5,] FALSE  FALSE        FALSE FALSE  FALSE
[6,] FALSE  FALSE        FALSE FALSE  FALSE

In [106]:
floor(runif(1,1,100))

[1] 33